<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.mode=='over'&&drawer.toggle()"  routerLink="/find">Find</a>
      <a mat-list-item (click)="drawer.mode=='over'&&drawer.toggle()" routerLink="/register">Register</a>
    </mat-nav-list>

  <div class="bottom-info">
    <img src="//static1.squarespace.com/static/58ff212be4fcb5ee3836372f/t/5addb6bd03ce64e6839f30bb/1587722293021/?format=1500w"/>
    <div>Dominik Cabos  </div>
  </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="brand-header">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1>Pets Demo</h1>
      <span class="spacer"></span>

      <ng-container *ngIf="loggedUser$ | async">
        <span class="logged-user">  {{(loggedUser$ | async).username}} </span>
        <mat-icon (click)="logout()" class="example-icon" aria-hidden="false" aria-label="Example user verified icon">exit_to_app</mat-icon>
      </ng-container>

    </mat-toolbar>

    <router-outlet></router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>


